body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    background-size: cover;
}



#title{
    font-family: "Jersey 10";
    color: darkblue;
    background-color: cyan;
    display: block;
    padding: 15px;
    font-size: 50px;
    border: 10px darkblue solid ;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    text-align: center;
}   

#title:hover{
    animation-name: title_animation;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

#title:not(:hover){
    animation-name: title_animation_back;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes title_animation{
    from{
    color: darkblue;
    background-color: cyan;
    display: block;
    padding: 15px;
    font-size: 50px;
    border: 10px darkblue solid ;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
   }

    to{ 
    font-size: 60px;
    color: rgb(0, 0, 105);
    background-color: rgb(0, 177, 177);
    border: 10px rgb(0, 0, 114) solid ;
    text-shadow: 2px 0 #ffffffb0, -2px 0 #ffffffb0, 0 2px #ffffffb0, 0 -2px #fff,
    1px 1px #ffffffb0, -1px -1px #ffffffb0, 1px -1px #ffffffb0, -1px 1px #ffffffb0;}
    
}

@keyframes title_animation_back{
    from{ 
    font-size: 60px;
    color: rgb(0, 0, 105);
    background-color: rgb(0, 177, 177);
    border: 10px rgb(0, 0, 114) solid ;
    text-shadow: 2px 0 #ffffffb0, -2px 0 #ffffffb0, 0 2px #ffffffb0, 0 -2px #fff,
    1px 1px #ffffffb0, -1px -1px #ffffffb0, 1px -1px #ffffffb0, -1px 1px #ffffffb0;}

    to{
    color: darkblue;
    background-color: cyan;
    display: block;
    padding: 15px;
    font-size: 50px;
    border: 10px darkblue solid ;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
   }
}

#intro{
    font-family: "Jersey 10";
    font-size: 30px;
    color: darkblue;
    background-color: cyan;
    border: 5px darkblue solid ;
    padding: 5px;
}


#ilike{
    font-family: "Jersey 10";
    font-size: 30px;
    color: darkblue;
    background-color: cyan;
    border: 5px darkblue solid ;
    padding: 10px;

    display: flex;       
    gap: 20px;           
    align-items: flex-start;
}

#ilike_title{
    padding: 5px;
    background-color: rgba(180, 123, 255, 0.568);
}

#schedule{
    font-size: 30px;
        font-family: "Jersey 10";
    font-size: 30px;
    color: darkblue;
    background-color: cyan;
    padding: 10px;
        background-color: rgba(180, 123, 255, 0.568);
}

#schedule_container{
    margin: 40px 0px;
    font-family: "Jersey 10";
    font-size: 30px;
    color: darkblue;
    background-color: cyan;
    border: 5px darkblue solid ;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-color: darkblue, blue; /* thumb color, track color */

    
}


#schedule_table, th, td{
    border:  5px darkblue solid ;
    width: 1200px;
}


#schedule_table, th{
    background-color: rgba(180, 123, 255, 0.568);
}


#schedule_table, td{
    background-color: cyan;
}


#accounts{
    margin: 40px 0px;
    font-family: "Jersey 10";
    font-size: 30px;
    color: darkblue;
    background-color: cyan;
    border: 5px darkblue solid ;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-color: darkblue, blue;
}

#image_wrap img{
    max-width: 100%;      
  height: auto;         
}

#image-wrap{
  flex: 1;              
  min-width: 150px;     
}

#ilike_head{
    background-color: rgba(180, 123, 255, 0.568);
}

#ilike_img{
    border: darkblue 5px solid;
}


#intro:hover{
    animation-name: intro_animation;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

#intro:not(:hover){
    animation-name: intro_animation_back;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}


@keyframes intro_animation{
    from{ 
    font-family: "Jersey 10";
    font-size: 30px;
    color: darkblue;
    background-color: cyan;
    border: 5px darkblue solid ;
    padding: 5px;}

    to{
    font-family: "Jersey 10";
    font-size: 35px;
    color: rgb(1, 1, 110);
    background-color: rgba(0, 255, 255, 0.76);
    border: 5px rgb(1, 1, 109) solid ;
    padding: 5px;
    background-color: rgb(0, 177, 177);
   }
}

@keyframes intro_animation_back{
    to{
    font-family: "Jersey 10";
    font-size: 30px;
    color: darkblue;
    background-color: cyan;
    border: 5px darkblue solid ;
    padding: 5px;
}

    from{
    font-family: "Jersey 10";
    font-size: 35px;
    color: rgb(1, 1, 110);
    background-color: rgba(0, 255, 255, 0.76);
    border: 5px rgb(1, 1, 109) solid ;
    padding: 5px;
    background-color: rgb(0, 177, 177);
   }
}

#blob{
    font-size: 30px;

}